input:focus{
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.formCont {
    width: 50%;
    align-content: center;
    position: relative;
    left: 400px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

label {
    color: brown;
    padding: 1.3rem 30px 1rem 30px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

input, textarea {
    padding: 30px;
    border: 0;
    width: 90%;
    font-size: 1rem;
    margin: 10px;
    border-radius: 4px;
}

input:focus, textarea:focus {
    outline: 0;
}

input:focus~span, textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 90%;
    min-height: 12em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        text-align: center;
    }
}